:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 98 57 163;
  --oui-color-primary-light: 163 107 213;
  --oui-color-primary-darken: 72 44 137;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 152 78 204;
  --oui-color-link-light: 193 118 230;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 250 105 141;
  --oui-color-danger-light: 255 165 194;
  --oui-color-danger-darken: 238 63 117;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 194 95;
  --oui-color-success-light: 87 226 143;
  --oui-color-success-darken: 0 142 67;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 183 29;
  --oui-color-warning-light: 255 221 88;
  --oui-color-warning-darken: 255 140 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 33 30 43;
  --oui-color-fill-active: 37 42 53;

  --oui-color-base-1: 83 74 114;
  --oui-color-base-2: 74 65 100;
  --oui-color-base-3: 64 56 84;
  --oui-color-base-4: 56 50 75;
  --oui-color-base-5: 49 44 66;
  --oui-color-base-6: 42 38 58;
  --oui-color-base-7: 64 59 90;
  --oui-color-base-8: 34 30 50;
  --oui-color-base-9: 26 23 39;
  --oui-color-base-10: 19 16 29;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 250 105 141;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 194 95;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 64 44 139;
  --oui-gradient-primary-end: 152 78 204;

  --oui-gradient-secondary-start: 90 51 141;
  --oui-gradient-secondary-end: 163 107 213;

  --oui-gradient-success-start: 10 128 63;
  --oui-gradient-success-end: 34 194 95;

  --oui-gradient-danger-start: 183 34 93;
  --oui-gradient-danger-end: 250 105 141;

  --oui-gradient-brand-start: 204 152 255;
  --oui-gradient-brand-end: 137 83 204;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 214 143 25;
  --oui-gradient-warning-end: 255 183 29;

  --oui-gradient-neutral-start: 29 31 24;
  --oui-gradient-neutral-end: 40 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}